<div id="follow_form_<%= recipient.id %>">
  <% follow_request = current_user.sent_follow_requests.find_by(recipient: recipient) %>

  <% if follow_request %>
    <% if follow_request.pending? %>
      <%= link_to "Un-request",
                  follow_request_path(follow_request),
                  method: :delete,
                  remote: true,
                  id: "unrequest_#{follow_request.id}",
                  class: "btn btn-outline-warning btn-sm" %>
    <% elsif follow_request.accepted? %>
      <%= link_to "Un-follow",
                  follow_request_path(follow_request),
                  method: :delete,
                  remote: true,
                  id: "unfollow_#{follow_request.id}",
                  class: "btn btn-outline-danger btn-sm" %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.sent_follow_requests.build(recipient: recipient),
                  id: "follow_form_#{recipient.id}",
                  local: false,
                  html: { class: "d-inline-block" }) do |form| %>

      <%= form.hidden_field :recipient_id, value: recipient.id %>
      <%= form.submit "Follow", class: "btn btn-outline-success btn-sm" %>
    <% end %>
  <% end %>
</div>
 